@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";

.badgescard, .firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*html {
  height: 100%;
}*/

body {
  font-family: 'Open Sans', sans-serif;
  /*width: 100%;*/
  /*min-height: 100%;*/
  /*background: #009688;*/
  /*font-size: 16px;*/
  /*overflow: hidden;*/
}

*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.card:after {
  content: '';
  display: none;
  width: 120px;
  height: 265px;
  /*width: 190px;*/
  /*height: 300px;*/
  /*background: cadetblue;*/
  /*background: #00b8d0;*/
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ECECEC;
  /*width: 25%;*/
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.31);
  /*position: absolute;*/
  z-index: -1;
  /*left: 10%;*/
  bottom: 10px;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}
.badgescard span {
  font-size: 1.1em;
  margin: 0px 6px;
  opacity: 0.6;
}

.sw .social{
    /*padding: 6px 8px !important;*/
    font-size: 12.5px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 22px;
}

.sw .fb {
    color: #FFF !important;
    background-color: #3b5999;
    padding: 5px 8px !important;
}

.sw .tw {
  color:#FFF !important;
  background-color:#00aced;
  padding: 5px 6px !important;
}

.sw .g {
  color:#FFF !important;
  background-color:#d44332;
}

.sw .ig {
  color:#FFF !important;
  background-color:#8A3AB9;
  padding: 5px 6px !important;
}

.sw .yt {
  color:#FFF !important;
  background-color:#E31010;
  padding: 5px 8px !important;
}

.sw a:hover {
  opacity:0.8;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #009688;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
